{% extends "base_generic.html" %}

{% block content %}

<h1>UA Artificial Intelligence &amp; Machine Learning Club </h1>
<p>Welcome to the <strong>University of Alabama: Artificial Intelligence and Machine Learning [AI/ML] club</strong>. Join our growing club and participate in projects that interest you: mathematics, business, finance, science, and art. Interested in something else? Suggest a project, all majors are welcome! </p>
<p> This site is under construction: if you would like to contribute to this growing website, feel free to contact me at: <br><u>jelizaga@crimson.ua.edu</u></p>
<p> Prereq's: NONE! If you aspire to learn web development and design, we can help get you up to speed :-) </p>

<form action="" method="post">
  {% csrf_token %}
{{ emailForm }}    
<input type="submit" value="Add me!">
</form>

<h2> Schedule</h2>
<p> 
    Meeting dates this semester plus suggested schedule - open for edits/ideas! <br>
    
    Checkpoints are for everyone to share progress on their projects and talk about their process. <br>
    
    <b>What do you think should go in the empty spots?</b> Lessons in new techniques? Casual discussion meetings? 
</p>
<table class="u-full-width">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Column Ideas?</th>
    </tr>
  </thead>
  <tbody>     
    <tr>
      <td>Sept 18</td>
      <td>Interest &amp; planning</td>
      <td>Lorem ipsum generator.</td>
    </tr>
    <tr>
      <td>Sept 25</td>
      <td>Set up Python, etc. on computers/teach it.</td>
      <td>Lorem ipsum generator.</td>
    </tr>
    <tr>
      <td> Oct 2  </td>
      <td>  Prof. Ames talks about regression &amp; twitter </td>
      <td>Lorem ipsum generator.</td>
    </tr>
    <tr>
      <td> Oct 9  </td>
      <td>  General Meeting &amp; checkpoint </td>
      <td>Lorem ipsum generator.</td>
    </tr>
    <tr>
      <td> Oct 16  </td>
      <td> Current Event, Movie, Project ideas  </td>
      <td>Lorem ipsum generator.</td>
    </tr>
    <tr>
      <td>  Oct 23 </td>
      <td> Prof. Anderson talks about robotics &amp; AI  </td>
      <td>Lorem ipsum generator.</td>
    </tr>
    <tr>
      <td> Oct 30 </td>
      <td>  Do a quick, fun project as a group </td>
      <td>Lorem ipsum generator.</td>
    </tr>
    <tr>
      <td> Nov 6 </td>
      <td>  General Meeting &amp; checkpoint</td>
      <td>Lorem ipsum generator.</td>
    </tr>
    <tr>
      <td> Nov 13  </td>
      <td> Current Event, Movie </td>
      <td>Lorem ipsum generator.</td>
    </tr>
    <tr>
      <td> Nov 20  </td>
      <td> Prof. Sazonov talks about deep learning &amp; his research </td>
      <td>Lorem ipsum generator.</td>
    </tr>
    <tr>
      <td> Nov 27  </td>
      <td> NO SCHOOL!!!!!111111!!!! :D :D :D :D :D </td>
      <td>Lorem ipsum generator.</td>
    </tr>
    <tr>
      <td> Dec 4 (dead week)  </td>
      <td> General Meeting &amp; checkpoint/Banquet!?!?!?  </td>
      <td>Lorem ipsum generator.</td>
    </tr>
  </tbody>
</table>

<h2> Proposed Events</h2>
<ul> 
    <li> Moneyball screening</li>
    <li> Ex Machina </li>
    <li> Blade Runner</li>
    <li> Her</li>
    <li> Artificial Intelligence</li>
    <li> Margin Call </li>
    <li> The Imitation Game, 21, The Matrix</li>
    <li> A Beautiful Mind  (Best Data Analysis and Machine Learning Movies according to some website)</li>
</ul>


{% endblock %}