{% extends "base_generic.html" %}

{% block content %}

{% comment %}
<h1>UA Artificial Intelligence &amp; Machine Learning Club </h1>
<p>Welcome to the <strong>University of Alabama: Artificial Intelligence and Machine Learning [AI/ML] club</strong>. Join our growing club and participate in projects that interest you: mathematics, business, finance, science, and art. Interested in something else? Suggest a project, all majors are welcome! </p>
<p> This site is under construction: if you would like to contribute to this growing website, feel free to contact me at: <br><u>jelizaga@crimson.ua.edu</u></p>
<p> Prereq's: NONE! If you aspire to learn web development and design, we can help get you up to speed :-) </p>

<form action="" method="post">
  {% csrf_token %}
  {{ emailForm }}    
  <input type="submit" value="Add me!">
</form>
{% endcomment %}

			<div class="column section">

				<!-- Home -->
				<!-- <h1 class="title is-3">Home</h1> -->
				<nav class="breadcrumb is-large" aria-label="breadcrumbs">
				  <ul>
				    <li><a class="title is-4" href="{% url 'index' %}">AI & ML Club</a></li>
				    <li class="is-active">
				    	<a class="title is-4" href="#" aria-current="page"><span class="icon is-small"><i class="fa fa-home"></i></span> Home</a>
				    </li>
				  </ul>
				</nav>
				<p>Welcome to the University of Alabama: Artificial Intelligence and Machine Learning [AI/ML] club. Join our growing club and participate in projects that interest you: mathematics, business, finance, science, and art. Interested in something else? Suggest a project. All majors are welcome!</p>

				<hr>

				<!-- Mailing List Form -->
				<h1 class="title is-4">Fill out the form to add yourself to our mailing list & Stay updated with all the latest information.</h1>
			
			<form action="" method="post">	
				{% csrf_token %}					
				<div class="columns">
					<div class="column">
						<div class="field">
							<label class="label">First Name</label>
							<div class="control">
							<input class="input" type="text" placeholder="First Name.."  name="firstName" maxlength="100" required="" id="id_firstName">
  						</div>
  					</div>
					</div>
					<div class="column">
						<div class="field">
							<label class="label">Last Name</label>
							<div class="control">
							<input  class="input" type="text" placeholder="Last Name.." name="lastName" maxlength="100" required="" id="id_lastName">								
  						</div>
						</div>
					</div>
				</div>

				<div class="field">
					<label class="label">Email</label>
					<div class="control is-expanded">
					<input class="input" type="email" name="email" maxlength="254" required="" id="id_email"  placeholder="Email..">
  					</div>
				</div>
				<input class="button is-danger is-outlined" type="submit" value="Add Me!">
				
			</form>
				


				<hr>

				<!-- Schedule -->
				<h1 class="title is-3">Schedule</h1>
				<p>Meeting dates this semester plus suggested schedule - open for edits/ideas! Checkpoints are for everyone to share progress on their projects and talk about their process. What do you think should go in the empty spots? Lessons in new techniques? Casual discussion meetings?</p>

				<br>

				<table class="table is-fullwidth">
					<thead>
						<tr>
							<th class="is-light">Date</th>
							<th class="is-light">Description</th>
							<th class="is-light">Location</th>
						</tr>
					</thead>
					<tbody>
						{% if schedule_list %}
						<ul>
							{% for schedule in schedule_list %}
							<tr>
								<td>{{ schedule.date }}</td>
								<td>{{ schedule.desc|linebreaks }}</td>
								<td>{{ schedule.loc }}</td>
							</tr>
							{% endfor %}
						{% else %}
						<p>No schedule are available.</p>
						{% endif %}

					</tbody>
				</table>

				<hr>

				<!-- Propose Event -->
				<h1 class="title is-3">Proposed Events</h1>
				<div class="content">
					<ul>
						<li>Moneyball screening</li>
						<li>Ex Machina</li>
						<li>Blade Runner</li>
						<li>Her</li>
						<li>Artificial Intelligence</li>
						<li>Margin Call</li>
						<li>The Imitation Game, 21, The Matrix</li>
						<li>A Beautiful Mind (Best Data Analysis and Machine Learning Movies)</li>
					</ul>
				</div>

			</div>

{% endblock %}