{% extends "base_generic.html" %}

{% block content %}

<h1>UA Artificial Intelligence &amp; Machine Learning Club </h1>
<p>Welcome to our <em>UA AI/ML club</em>, 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a feugiat sem. Cras luctus porttitor blandit. Sed eget porttitor nunc. Integer et odio ex. Cras magna ante, euismod vitae venenatis in, tristique quis eros. Ut ultricies vitae nisi in ultricies. Nullam pulvinar lacus eget ante tincidunt dapibus. Morbi condimentum nisl vel tellus commodo, in eleifend dolor blandit. 
</p>
<h2> Upcoming Events</h2>
<h2> Previous Events</h2>
<h3> Where to go from here:</h3>

{% endblock %}