{% extends "base_generic.html" %}

{% block content %}

<h1><em>UA AI/ML Club</em> </h1>
<h2> Contact Us </h2>
<p>Table with Members , <br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a feugiat sem. Cras luctus porttitor blandit. Sed eget porttitor nunc. Integer et odio ex. Cras magna ante, euismod vitae venenatis in, tristique quis eros. Ut ultricies vitae nisi in ultricies. Nullam pulvinar lacus eget ante tincidunt dapibus. Morbi condimentum nisl vel tellus commodo, in eleifend dolor blandit. 
</p>

{% endblock %}