{% extends "base_generic.html" %}

{% block content %}


<div class="column section">
    
    
    <nav class="breadcrumb is-large" aria-label="breadcrumbs">
        <ul>
            <li><a class="title is-4" href="{% url 'index' %}">AI & ML Club</a></li>
            <li class="is-active">
                <a class="title is-4" href="#" aria-current="page"><span class="icon is-small"><i class="fa fa-info-circle"></i></span> About Us</a>
            </li>
        </ul>
    </nav>

					<p>The ML/AI Club serves as a place of community for discussing, learning about, and working on topics related to machine learning and artificial intelligence across disciplines, from visual art and music to math, finance, and linguistics.</p>

				<br>

				<p>We meet every week (with one “big” meeting per month), and our meeting activities include discussions of current events in AI, professor talks, tutorials, and workshops.</p>

				<br>

				<p>The club is also a hub for project work in ML and AI; we form teams to work on projects like programming competitions and online courses outside of regular meeting times, and then share our progress with the rest of the club during regular meetings.</p>

				<br>

				<p>Besides keeping up with club activities, this website has information about campus resources related to ML/AI, including courses and research opportunities.</p>

    <!-- <p>Welcome to the <strong>University of Alabama: Artificial Intelligence and Machine Learning [AI/ML] club</strong>. Join our growing club and participate in projects that interest you: mathematics, business, finance, science, and art. Interested in something else? Suggest a project, all majors are welcome! </p> -->
    <!-- <br> -->
    
    <!-- <p> This site is under construction: if you would like to contribute to this growing website, feel free to contact me at: <br><u>jelizaga@crimson.ua.edu</u></p> -->
    
    <!-- <br> -->
    
    <!-- <p> Prereq's: NONE! If you aspire to learn web development and design, we can help get you up to speed :-) </p> -->

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}