{% extends "base_generic.html" %}

{% block content %}

<h1><em>UA AI/ML Club</em> </h1>
<h2> About Us </h2>
<p>Welcome to the <strong>University of Alabama: Artificial Intelligence and Machine Learning [AI/ML] club</strong>. Join our growing club and participate in projects that interest you: mathematics, business, finance, science, and art. Interested in something else? Suggest a project, all majors are welcome! </p>
<p> This site is under construction: if you would like to contribute to this growing website, feel free to contact me at: <br><u>jelizaga@crimson.ua.edu</u></p>
<p> Prereq's: NONE! If you aspire to learn web development and design, we can help get you up to speed :-) </p>

{% endblock %}