{% extends "base_generic.html" %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'projects/css/custom.css' %}">
{% endblock %}

{% block content %}
<div class="column section">

    <nav class="breadcrumb is-large" aria-label="breadcrumbs">
        <ul>
        <li><a class="title is-4" href="index.html">AI & ML Club</a></li>
        <li class="is-active">
            <a class="title is-4" href="#" aria-current="page"><span class="icon is-small"><i class="fa fa-briefcase"></i></span> Projects</a>
        </li>
        </ul>
    </nav>
    <div>
    {% if project_list %}
    <ul>
    {% for project in project_list %}
        <li><a href="/projects/{{ project.id }}">{{ project.project_name }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No projects are available.</p>
    {% endif %}
    <form action="" method="post">
    {% csrf_token %}
        {{ form }}    
    <input class="button is-danger is-outlined" type="submit" value="Create Project (Reversible)">
    </form>
    </div>
</div>

{% endblock %}