{% extends "base_generic.html" %}

{% block content %}

<h1> UNDER CONSTRUCTION </h1>
<p> Want to make this site better? Let me know! <br><u>jelizaga@crimson.ua.edu</u></p>
<!-- <h1><em>UA AI/ML Club</em> </h1>
<h2> Projects</h2>
<h3> Project 1 </h3>
<h3> Project #___# </h3> -->

{% if project_list %}
<ul>
{% for project in project_list %}
    <li>{{ project.project_name }}</li>
    
    <ul>
        {% for bulletinPost in project.bulletinpost_set.all %}
            <li>{{ bulletinPost.post_date }} // {{ bulletinPost.post_user }} // {{ bulletinPost.post_message }}</li>
        {% endfor %}
    </ul>

{% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}

<form action="" method="post">
    {% csrf_token %}
{{ form }}    
<input type="submit" value="OK">
</form>

{% endblock %}