
{% extends "base_generic.html" %}
{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'projects/css/custom.css' %}">
{% endblock %}

{% block content %}
{% load staticfiles %}

<div class="column section">

    <nav class="breadcrumb is-large" aria-label="breadcrumbs">
        <ul>
        <li><a class="title is-4" href="index.html">AI & ML Club</a></li>
        <li class="is-active">
            <a class="title is-4" href="#" aria-current="page"><span class="icon is-small"><i class="fa fa-briefcase"></i></span> Projects</a>
        </li>
        </ul>
    </nav>

    {% if project %}
    
    <div id="chat">
        <h1 class="title is-2 has-text-centered">    {{ project.project_name }}   </h1>
        
        <div class="card-header"><p class="card-header-title">{{ project.project_desc }} </p></div>
        <div id="chat-box" class="card">
          <div class="card-content">
            <div class="tile is-ancestor is-vertical">
            {% for bulletinPost in project.bulletinpost_set.all %}
            <div class="tile is-child">
                <article class="message is-dark">
                    <div class="message-header"><p>{{ bulletinPost.post_user }} </p></div>
                    <div class="message-body"><p>{{ bulletinPost.post_message }} </p></div>
                </article>
                <div class="date hidden">
                    <time datetime="">{{ bulletinPost.post_date }}</time>
                </div>
            </div>
            {% endfor %}
            <!-- Run Scripts AFTER it is looped over -->
            <script type="text/javascript" src="{% static 'projects/js/script.js' %}"></script>            
              
            </div>
          </div>
        </div>
        
        <form action="" method="post">
                {% csrf_token %}
            {{ form }}    
            <input class="button is-danger is-outlined" type="submit" value="Post Message">
        </form>
      </div>
   
    {% endif %}

</div>

{% endblock %}